* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 178, 171, 0.418);
}
.box {
  height: 400px;
  width: 400px;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.div1 {
  display: flex;
  gap: 20px;
  font-size: 22px;
  font-weight: 900;
}
.btn {
  padding: 10px 20px;
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
}
