* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 500px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 30px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user {
  font-size: 22px;
  font-weight: 600;
}
.top #goonline {
  padding: 10px 20px;
  background-color: lightgreen;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.top #goonline:active {
  scale: 0.95;
}
.top #gooffline {
  padding: 10px 20px;
  background-color: rgb(239, 86, 86);
  border-radius: 10px;
  font-size: 16px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin-left: 5px;
}
.top #gooffline:active {
  scale: 0.95;
}
.mid {
  height: 10rem;
  width: 100%;
  background-color: lightskyblue;
  margin-top: 20px;
  border-radius: 10px;
}
.bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom #search {
  width: 80%;
  padding: 11px;
  border-radius: 10px;
  border: none;
}
.bottom #send {
  padding: 10px 20px;
  background-color: rgb(65, 125, 244);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: none;
}
.bottom #send:active {
  scale: 0.95;
}
