* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: rgba(32, 178, 171, 0.511);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  flex-wrap: wrap;
}
.div1 {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.upper {
  height: 50%;
  width: 100%;
  background-color: rgb(14, 113, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.down {
  height: 50%;
  width: 100%;
  background-color: rgba(164, 151, 78, 0.77);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button {
  padding: 10px 20px;
  background-color: lightblue;
  border-radius: 10px;
}
