* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 300px;
  /* height: 500px; */
  border: 4px solid gold;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-direction: column;
}
img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.num {
  display: flex;
  align-items: center;
  gap: 50px;
}
.box h2{
    font-size: 28px;
    font-weight: 600;
}
.box p{
    font-size: 18px;
}
.box button{
    padding: 10px 20px ;
    background-color: rgb(60, 60, 244);
    border: none;
    border-radius: 20px;
    margin: 15px;
}